
*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.parent-collapse {
    width: 20%;
    margin: 150px auto;
    text-align: left;
    background: blue;
}



.collapse-button {
    display: flex;
    background: #FF6060;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.collapse-button h3{
    /* background: pink; */
    /* text-align: left; */
    /* align-items: space-around; */
    position: relative;
}

.collapse-button i{
    height: 100%;
    font-size: 24px;
    /* rotate: 180deg; */
}



.collapse-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background: #F6F6F6;
}

.collapse-container.collapsed {
  max-height: 500px;
  transition: max-height 0.2s ease-in;
}

.rotate-arrow {
    rotate: 180deg;
    /* background: blueviolet; */
    transition: 0.2s ease-in;
}
