
@import "./assets/Styles/variables.scss";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  color: blue;
  // background: pink;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.div-about {
  max-width: $max-width-desktop;
  width: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
