

@import './variables.scss'; 


.error404Element {
  color: $main-color;
  h3 {
    font-size: 288px;
    margin: 20px 0;
    font-weight: bold;
  }
  h4 {
    font-size: 36px;
  }
  a {
    color: $main-color;
    p {
      margin: 100px 0 50px 0;
      font-size: 18px;
    }
  }
  @media screen and (max-width: $max-width-mobile) {
    h3 {
      font-size: 96px;
    }
    h4 {
      font-size: 18px;
    }
  }
}
